{% load static %}
<nav class="navbar navbar-top navbar-expand navbar-dark border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-light" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
      </ul>
      <div class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <span class="mb-0 mr-5 text-sm  font-weight-bold" style="color: black">
                  User - {{ request.user.username }}
            </span>
            <span class="mb-0 text-sm  font-weight-bold" style="color: black">
                  Permission - {{ request.user.userprofile.permission }}
            </span>
      </div>
    </div>
  </div>
</nav>